.miss_img, .hist_img {
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.miss_img {
    background-image: url("../imgs/ladies_w_flowers.jpg");
}

.hist_img {
    background-image: url("../imgs/square_house.jpg");
}

.miss_text, .hist_text, .num_text {
    padding: 3vh 3vh;
}

@media only screen and (min-width: 320px) {
    /*.miss_text, .hist_text {*/
    /*    padding: 3vh 3vh;*/
    /*}*/

    .miss_img {
        height: 28vh;
    }

    .hist_img {
        height: 23vh;
    }
}

@media only screen and (min-width: 375px) {
    .miss_img {
        height: 34vh;
    }
}

@media only screen and (min-width: 425px) {
    .miss_img {
        height: 38vh;
    }
}

@media only screen and (min-width: 768px) {
    .miss_img {
        height: 34vh;
    }
}