.small_hero {
    background-image: url('../imgs/conservation_hero.png');
}

.logo {
    background-image: url("../imgs/conservation_circle.jpg");
    border-radius: 50%;
}

.overlay_text {
    width: 80%;
}

@media only screen and (min-width: 375px) {
    .overlay_text {
        width: 72%;
    }
}

@media only screen and (min-width: 425px) {
    .overlay_text {
        width: 64%;
    }
}

@media only screen and (min-width: 768px) {
    .overlay_text {
        width: 35%;
    }
}

@media only screen and (min-width: 1024px) {
    .overlay_text {
        width: 27%;
    }
}

@media only screen and (min-width: 1440px) {
    .overlay_text {
        width: 19%;
    }
}
