.small_hero {
    background-image: url('../imgs/conservation_hero.png');
}

.logo {
    background-image: url("../imgs/conservation_circle.jpg");
    border-radius: 50%;
}

.overlay_text {
    width: 23%;
}
