.she {
    height: 25vh;
    min-height: 100px;
    background-repeat: no-repeat;
    background-image: url('../imgs/she.png');
    background-size: contain;
    background-position: center;
    /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;*/
    /*width: 95vw;*/
    /*border-radius: .25rem;*/
    /*margin: 11vh 0 0 2.5vw;*/
}

@media only screen and (min-width: 375px) {
    .she {
        height: 30vh;
    }
}

@media only screen and (min-width: 425px) {
    .she {
        height: 35vh;
    }
}

@media only screen and (min-width: 768px) {
    .she {
        height: 32vh;
    }

    .miss_text {
        padding: 2vh !important;
    }
}

@media only screen and (min-width: 1024px) {
    .she {
        height: 41vh;
    }

    .miss_text {
        padding: 4vh !important;
    }
}

@media only screen and (min-width: 1440px) {
    .she {
        height: 42vh;
    }

    .miss_text {
        padding: 4vh !important;
    }
}