.small_hero {
    background-image: url('../imgs/floral_design_hero.png');
}

.logo {
    background-image: url("../imgs/floral_design_circle.jpg");
    border-radius: 50%;
}

.overlay_text {
    width: 25%;
}

.overlay_text {
    width: 77%;
}

@media only screen and (min-width: 425px) {
    .overlay_text {
        width: 70%;
    }
}

@media only screen and (min-width: 768px) {
    .overlay_text {
        width: 40%;
    }
}

@media only screen and (min-width: 1024px) {
    .overlay_text {
        width: 30%;
    }
}

@media only screen and (min-width: 1440px) {
    .overlay_text {
        width: 23%;
    }
}
