
.small_hero {
    height: calc(95vh - 75px);
    min-height: 500px;
    background-repeat: no-repeat;
    background-image: url('../imgs/white.jpg');
    background-size: cover;
    background-position: right;
    width: 64vw;
    margin: 13vh 0 0 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.logo {
    background-image: url('../imgs/rye_gc_trans2.png');
    height: 20vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 20%;
    margin: 3vh 5vw 0 6vw;
}

.index_text {
    margin: 52vh 0 0 0;
}

.text {
    position: absolute;
    width: 50vw;
    font-family: snell roundhand;
}

@media only screen and (max-width: 425px) {
    .logo {
        min-height: 10px;
        background-position: center;
        width: 100%;
        margin: 12vh 0 3vh 0;
    }

    .index_text {
        margin: 21vh 0 0 12vw;
    }

    .text {
        width: inherit;
    }

    .small_hero {
        width: 100%;
        background-position: bottom;
        margin: 26vh 0 0 0;
    }

    .container-fluid {
        padding-right: 0 !important;
    }

    .navbar-toggler {
        margin-right: 5vw !important;
    }
}