
.small_hero {
    height: 92vh;
    margin: 8vh 0 5vh 0;
    min-height: 500px;
    background-repeat: no-repeat;
    background-image: url('../imgs/white.jpg');
    background-size: cover;
    width: 100vw;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.li_sound {
    height: 500px;
    margin: 8vh 0 5vh 0;
    min-height: 500px;
    background-image: url("../imgs/long_island_sound_edit.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.logo {
    background-image: url('../imgs/rye_gc_trans2.png');
    /*height: 20vh;*/
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /*width: 20%;*/
    /*margin: 3vh 5vw 0 6vw;*/
}

.logo_size {
    height: 40vh;
}

.index_text {
    margin: 52vh 0 0 0;
}

.bottom_marg {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.text_home {
    position: absolute;
    width: 56vw;
}

@media only screen and (min-width: 1440px) {
    .text_home {
        width: 42vw;
    }
}

.text_home, .text, .card-title {
    font-family: snell roundhand;
    color: #336633;
}

.text_home {
    color: #000000;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 425px) {
    .logo {
        height: 16vh;
        min-height: 125px;
        background-position: center;
        width: 100%;
        margin: 0 0 5vh 0;
    }

    .li_sound {
        margin: 38vh 0 5vh 0;
    }

    .index_text {
        margin: 21vh 0 0 7vw;
    }

    .text_home {
        width: 82vw;
    }
}

.img_sizing {
    height: 35vh;
    width: 35vh;
    filter: grayscale(0%);
    margin-bottom: 5vh
}

.img_sizing:hover {
    filter: grayscale(100%);
    transition: all .5s;
}

.img_sizing:hover + .carousel-caption{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.phrase {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.img_sizing:hover ~ .phrase {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
}

@media only screen and (min-width: 375px) {
    .img_sizing {
        height: 37vh;
        width: 37vh;
    }
    .li_sound {
        margin: 31vh 0 5vh 0;
    }
}

@media only screen and (min-width: 425px) {
    .img_sizing {
        height: 40vh;
        width: 40vh;
    }
    .li_sound {
        margin: 26vh 0 5vh 0;
    }
    .small_hero {
        background-attachment: fixed;
    }
}