.small_hero {
    background-image: url('../imgs/members_hero.jpeg');
    margin: 0 0 3vh 0;
}

.members {
    font-size: 1.5rem;
}

a {
    text-decoration: underline;
}

.footer, .nav-link, .navbar-brand {
    text-decoration: none !important;
}

.page-footer {
    margin-top: 1vh;
}
