.small_hero {
    background-image: url('../imgs/photography_hero.jpg');
}

.logo {
    background-image: url("../imgs/photography_circle.jpg");
    border-radius: 50%;
}

.overlay_text {
    width: 25%;
}

.img_sizing:hover ~ .phrase {
    background-color: lightgrey;
    opacity: .5;
}