.comm_gardening {
    height: 27vh;
    min-height: 100px;
    background-repeat: no-repeat;
    background-image: url('../imgs/gardening.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    width: 95vw;
    border-radius: .25rem;
    margin: 11vh 0 0 2.5vw;
}

.card_margin {
    margin: 0 2.5vw;
}

.projects_text {
    margin: 2vh .5vw;
}

@media only screen and (min-width: 768px) {
    .projects_text {
        margin: 2vh 1vw;
    }
}

@media only screen and (min-width: 1024px) {
    .projects_text {
        margin: 2vh 1.5vw;
    }
}

@media only screen and (min-width: 1440px) {
    .projects_text {
        margin: 2vh 2vw;
    }
}

.text_proj {
    color: #ffffff;
    position: absolute;
}

.header {
    font-family: "Snell Roundhand";
    margin: 12vh 0 0 0;
}

.header_adjust {
    margin: 2vh 1vw;
}

@media only screen and (min-width: 768px) {
    .header {
        margin: 12vh 0 0 1.5vw;
    }
    .header_adjust {
        margin: 2vh 2vw;
        width: 40vw;
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        margin: 12vh 0 0 2vw;
    }
    .header_adjust {
        margin: 2vh 2.5vw;
        width: 30vw;

    }
}

@media only screen and (min-width: 1440px) {
    .header {
        margin: 12vh 0 0 3vw;
    }
    .header_adjust {
        margin: 2vh 3.25vw;
        width: 20vw;
    }
}
