body {
    background-color: #f8f9fa;
    color: #000000;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

hr {
    background-color: #339933;
    opacity: .5;
    width: 90vw;
}

.nav_padding {
    padding: 0 3% !important;
}

.logo {
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media only screen and (max-width: 425px) {
    .rye_text {
        font-size: 1.85rem;
    }
    .logo {
        height: 35vh;
        min-height: 125px;
        background-position: center;
        width: 100%;
        margin: 0 0 5vh 0;
    }
}
@media only screen and (min-width: 425px) {
    .rye_text  {
        font-size: 2rem;
    }
}

.text, .card-title {
    font-family: 'Snell Roundhand';
    color: #336633;
}

.rye_text {
    font-family: "Snell Roundhand";
    color: #336633 !important;
}

.small_logo {
    background-image: url('../imgs/rye_gc_trans2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.page-footer {
    box-shadow: 0 -.5rem 2rem rgba(0,0,0,.15)!important;
    height: 18vh;
    padding: .75rem 0 .5rem 0 !important;
}

.page-margin {
    margin: 0;
}

.footer {
    font-size: 1rem;
}

.insta {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../imgs/glyph-logo_May2016.png");
}

.small_hero {
    height: 100vh;
    margin: 0 0 5vh 0;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.img_sizing {
    height: 35vh;
    width: 35vh;
    filter: grayscale(0%);
}

.img_sizing:hover {
    filter: grayscale(100%);
    transition: all .5s;
}

.img_sizing:hover + .carousel-caption{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.phrase {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.img_sizing:hover ~ .phrase {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
}

@media only screen and (min-width: 375px) {
    .img_sizing {
        height: 37vh;
        width: 37vh;
    }
    .li_sound {
        margin: 31vh 0 5vh 0;
    }
}

@media only screen and (min-width: 425px) {
    .img_sizing {
        height: 40vh;
        width: 40vh;
    }
    .li_sound {
        margin: 26vh 0 5vh 0;
    }
    .small_hero {
        background-attachment: fixed;
    }
}

.overlay_text {
    font-family: "Snell Roundhand";
    color: #336633 !important;
    background-color: #ffffff;
    position: absolute;
    bottom: 65vh;
    left: 10vw;
    font-size: 3rem;
    border-radius: 50%;
    width: 21%;
    opacity: .75;
}

.cards {
    margin: 2rem auto;
    position: relative;
}

.phrase, .carousel-caption {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-caption {
    background-color: rgba(189, 195, 199, .5);
    padding: 5px;
    margin: 0;
}

.first_letter {
    font-family: 'Snell Roundhand';
    color: #336633;
    font-size: 3rem;
    line-height: .75;
}

.paragraph, .last-paragraph, .first-paragraph {
    font-size: 1.4rem;
}

.first-paragraph {
    margin: 3vh 0 1rem 0;
}

.last-paragraph {
    margin: 0 0 5vh 0;

}