body {
    background-color: #f8f9fa;
    color: #000000;
}

.nav_padding {
    padding: 0 3% !important;
}

@media only screen and (max-width: 425px) {
    .rye_text {
        font-size: 1.85rem;
    }
}
@media only screen and (min-width: 425px) {
    .rye_text  {
        font-size: 2rem;
    }
}

.rye_text {
    font-family: "Snell Roundhand";
}

.small_logo {
    background-image: url('../imgs/rye_gc_trans2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.page-footer {
    box-shadow: 0 -.5rem 2rem rgba(0,0,0,.15)!important;
    height: 18vh;
}